body{
    background-image: url(./img/Torneos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 60px;
    color: white;
}

h2{
    color: white;
}
